In [1]:
import pandas as pd

Load stations

In [2]:
jan_df = pd.read_csv('stations_january_2015.txt', sep='\t', header=None)
jan_df.head()

,0,1,2,3,4,5,6,7
0,Aadorf / Tänikon,539,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.01.2015,NaN
1,Acquarossa / Comprovasco,575,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.01.2015,NaN
2,Adelboden,1327,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.01.2015,NaN
3,Aigle,381,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.01.2015,NaN
4,Alptal Bestand,1168,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.01.2015,NaN

In [3]:
dec_df = pd.read_csv('stations_december_2015.txt', sep='\t', header=None)
dec_df.head()

,0,1,2,3,4,5,6,7
0,Aadorf / Tänikon,539,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.12.2015,NaN
1,Acquarossa / Comprovasco,575,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.12.2015,NaN
2,Adelboden,1327,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.12.2015,NaN
3,Aigle,381,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.12.2015,NaN
4,Alptal Bestand,1168,Air temperature 2 m above ground; current value,degree Celsius,Ten minutes,01.01.2015,31.12.2015,NaN

Get names of stations

In [4]:
jan_names = set(jan_df[0].values)
dec_names = set(dec_df[0].values)

Get new stations

In [5]:
new_stations_names = dec_names.difference(jan_names)
new_stations_names

{'Bergün / Latsch',
 'Bivio',
 'Col des Mosses',
 'Courtelary',
 'Flühli, LU',
 'Frutigen',
 'Gersau',
 'Lachen / Galgenen',
 'Les Marécottes',
 'Mottec',
 'Nottwil / SPZ',
 'Oberriet, SG',
 'Otemma',
 'Vals',
 'Vevey / Corseaux'}

In [6]:
with open('new_stations.txt', 'w') as f:
    for name in sorted(new_stations_names):
        f.write(name + '\n')